
<nav id="sidebar">
    <div class="custom-menu">
        <button type="button" id="sidebarCollapse" class="btn btn-primary">
        </button>
    </div>
    <div class="img bg-wrap text-center py-4" style="background-image: url(/Templates/sidebar-09/images/bg_1.jpg); ">
        <div class="user-logo">
            <div class="img" style="background-image: url(/Content/image/profilephoto.jpg); "></div>
            <h3>Gülşah Arslan Onur</h3>
        </div>
    </div>
    <ul class="list-unstyled components mb-5">
        <li class="active">
            <a href="/Statistic/Index"><span class="fa fa-home mr-3"></span>Dasboard</a>
        </li>
        <li class="active">
            <a href="/Default/Index/"><span class="fa fa-paper-plane mr-3"></span> Siteye Git</a>
        </li>

        <li>
            <a href="/About/Index"><span class="fa fa-id-card mr-3"></span> Hakkımda</a>
        </li>

        <li>
            <a href="/Category/Index"><span class="fa fa-list mr-3"></span> Kategoriler</a>
        </li>
        <li>
            <a href="/Project/Index"><span class="fa fa-laptop mr-3"></span> Projelerim</a>
        </li>
        <li>
            <a href="/Feature/Index"><span class="fa fa-support mr-3"></span>Öne Çıkanlar</a>
        </li>
        <li>
            <a href="/Service/Index"><span class="fa fa-file mr-3"></span> Hizmetlerim</a>
        </li>
        <li>
            <a href="/SocialMedia/Index"><span class="fa fa-hashtag mr-3"></span> Sosyal Medya</a>
        </li>
        <li>
            <a href="/Contact/Index"><span class="fa fa-envelope mr-3"></span> Mesajlar</a>
        </li>
        <li>
            <a href="/Testimonial/Index"><span class="fa fa-users mr-3"></span> Referanslar</a>
        </li>
        <li>
            <a href="#"><span class="fa fa-gears mr-3"></span> Ayarlar</a>
        </li>
        <li>
            <a href="#"><span class="fa fa-sign-out mr-3"></span> Çıkış Yap</a>
        </li>
    </ul>

</nav>