
<div class="container">
    <footer class="footer">
        <p class="mb-0">
            Copyright
            <script>document.write(new Date().getFullYear())</script> &copy; <a href="http://www.devcrud.com">DevCRUD</a> Distribution <a href="https://themewagon.com">ThemeWagon</a>
        </p>
        <div class="social-links text-right m-auto ml-sm-auto">

            <a href="https://www.google.com/" class="link"><i class="ti-google"></i></a>
            <a href="https://www.instagram.com/gulsahrsln/" class="link"><i class="ti-instagram"></i></a>
            <a href="https://github.com/gulsaharslan" class="link"><i class="ti-github"></i></a>
            <a href="https://www.linkedin.com/in/g%C3%BCl%C5%9Fah-arslan/" class="link"><i class="ti-linkedin"></i></a>



        </div>
    </footer>
</div>
